.Toolbar {
  position: absolute;
  right: 1em;
  top: 1em;
}

.actions {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media print {
  .Toolbar {
    display: none;
  }
}